.carousel {
  position: relative;
  width: 100%;
}
.carousel img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.carousel .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 20px;
  border-radius: 50%;
  border: none;
  font-size: large;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
  background-color: var(--primary-color);
}
.carousel .previous_half {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  outline: none;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
  /* background-color: rgba(255, 0, 0, 0.128); */
  background-color: transparent;
}
.carousel .next_half {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  outline: none;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
  /* background-color: rgba(0, 128, 0, 0.103); */
  background-color: transparent;
}
.carousel .previous_half:is(:hover, :focus) > .btn,
.carousel .next_half:is(:hover, :focus) > .btn {
  opacity: 1;
}
